body{
    font-family:arial;
    background-color:rgb(209, 200, 200);
    

}h1{
    color:blue;

}form{
    background-color:white;
    text-align:center;
    max-width:350px;
    margin:auto;
    margin-top:30px;
    padding:25px;
    border-radius:10px;
    box-shadow:5px 5px 15px hsl(0, 0%, 2%, 0.3);

}
#textBox{
    width:50%;
    text-align:center;
    font-size:2em;
    border:2px solid black ;
    border-radius:5px;
    margin-bottom:15px;
}
label{
    font-size:1.5em;
    font-weight:bold;
    font-family:arial;
    
}
button{
    margin-top:15px;
    background-color:rgb(197, 162, 98);
    font-size:1.5em;
    padding:10px 15px;
    border-radius:10px;
    cursor:pointer;
}button:hover{
    background-color:rgb(231, 205, 157);
    
}#result{
    font-size:1.5em;
    font-weight:bold;

}